<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DistributionList" type="ARC_CallProcessing_CyberSource.DistributionListConfig, ARC_CallProcessing_CyberSource"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ARC_CallProcessing_CyberSource.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <!-- Custom Config Here -->
    <add key="INPUT_PATH" value="F:\ghclients\ftp\donation\donations_arc\nodes\801"/> <!-- Pickup the .imp files -->
    <add key="OUTPUT_PATH" value="F:\ghclients\ftp\donation\donations_arc\nodes\801\processed"/> <!-- Drop off the .exp files -->
    <!-- CyberSource Config Here -->
    <add key="cybs.keysDirectory" value="F:\ghclients\portal\programs\arc\ARC_CallProcessing_CyberSource\cybersource\keys\"/>
    <add key="cybs.logDirectory" value="F:\ghclients\portal\programs\arc\ARC_CallProcessing_CyberSource\cybersource\logs\"/>
    <add key="fileSearchString" value="LO_TX*.txt"/>
    <!-- 
    Test Settings
    <add key="cybs.merchantID" value="merchantcyb"/>
    <add key="cybs.sendToProduction" value="false"/>
    <add key="cybs.enableLog" value="true"/>
    <add key="cybs.connectionLimit" value="-1"/>
    <add key="cybs.serverURL" value="https://ics2wstesta.ic3.com/commerce/1.x/transactionProcessor/"/>

    Production Settings
    <add key="cybs.merchantID" value="merchantcyb"/>
    <add key="cybs.sendToProduction" value="true"/>
    <add key="cybs.enableLog" value="false"/>
    <add key="cybs.connectionLimit" value="-1"/>
    <add key="cybs.serverURL" value="https://ics2wsa.ic3.com/commerce/1.x/transactionProcessor/"/>

    -->
    <add key="cybs.merchantID" value="merchantcyb"/>
    <add key="cybs.sendToProduction" value="true"/>
    <add key="cybs.enableLog" value="false"/>
    <add key="cybs.connectionLimit" value="-1"/>
    <add key="cybs.serverURL" value="https://ics2wsa.ic3.com/commerce/1.x/transactionProcessor/"/>
    <!-- CyberSource Config Here -->
    <!-- Custom Config Here -->

    <add key="serviceName" value="ARC CallProcessing CyberSource"/>
    <add key="serviceNick" value="ARC_CallProcessing_CyberSource"/>
    <add key="servicePath" value="F:\ghclients\portal\programs\arc\ARC_CallProcessing_CyberSource\"/>

    <add key="serviceExportPath_DeBug" value="F:\ghclients\portal\programs\arc\ARC_CallProcessing_CyberSource\log\files\"/>
    <add key="serviceExportPath" value="F:\ghclients\portal\programs\arc\ARC_CallProcessing_CyberSource\files\"/>
    <!--
      Log File Config:
      logging: Type, choose: eventlog | file
      logfilePath: Path to log file, combine with name
      logfileName: Name of the log file
      logfilemaxsize: for the file logging we can set a max size, in BYTEs, 1000 is about 20-30 lines to keep, good enough for debugging
      servicepollinterval: servicepollinterval is to control the polling interval for the service to execute all plugins
                            the individual plugins will override this settings, so really set this to your lowest value
                            1000 = 1 second
                            10000 = 10 seconds
                            60000 = 1 minute
                            300000 = 5 minutes
                            3600000 = 1 hour (60 Minutes)
    -->
    <add key="logging" value="file"/>
    <add key="logfilePath" value="\log\"/>
    <add key="logfileName" value="ARC_CallProcessing_CyberSource_Log.log"/>
    <add key="logfileNameSleep" value="ARC_CallProcessing_CyberSource_Log_Sleep.log"/>
    <add key="logfileNameRecord" value="ARC_CallProcessing_CyberSource_Leads.log"/>
    <add key="logfileNameError" value="ARC_CallProcessing_CyberSource_Errors.log"/>
    <add key="logfileNameFiles" value="ARC_CallProcessing_CyberSource_Files.log"/>
    <add key="logfileNameSQLPassed" value="ARC_CallProcessing_CyberSource_SQL_Passed.log"/>
    <add key="logfileNameSQLFailed" value="ARC_CallProcessing_CyberSource_SQL_Failed.log"/>

    <add key="logfilemaxsize" value="1000000"/>
    <add key="logfileinterval" value="60"/>
    <add key="servicepollinterval" value="1000"/>
    <add key="servicepollsleep" value="3599999"/>

    <add key="runOnStart" value="True"/>
    <add key="modeDebug" value="False"/>

    <!--
      2012: LO_OK*.txt
      2016: LO_LA*.txt
    -->

    <add key="servicesingleruntime" value="01:00:00"/>
    <!--
      App Config:
    -->
    <add key="toPullRecords" value="5000"/>

    <!--
      Email Config:
    -->
    <add key="maxFilePerEmail" value="200"/>
    <!--
      Default Email Addresse(s)
    -->
    <add key="BounceAddress" value="do.not.reply@email.com"/>
    <add key="FromName" value="Portal - Automation"/>
    <add key="FromAddress" value="do.not.reply@email.com"/>
    <add key="ReplyTo" value="do.not.reply@email.com"/>
    <add key="HeaderField_Name" value="DataExchange-Automated"/>
    <add key="HeaderField_Value" value="LMS_JobNotice JobID:03"/>
    <!--
      Emails
    -->
    <add key="StandardEmail" value="LMS_Standard_Email.html"/>
    <add key="CountEmail" value="LMS_Count_Notice_Email.html"/>
    <add key="ReportEmail" value="LMS_Report_Custom_Strayer.html"/>

    <!--
      DB Query...
    -->
    <!--
      New DB IP: 1.1.1.1
    -->
    <add key="HS_LAN" value=""/>
    <add key="HS_WAN" value=""/>

    <add key="DB_CN_DEFAULT" value="9"/>

    <add key="ARC_Production" value="9"/>
    <add key="DB9_ID" value="ARC_Production"/>
    <add key="DB9_LAN" value="1.1.1.1"/>
    <add key="DB9_WAN" value="1.1.1.1"/>
    <add key="DB9_NAME" value="arcweb"/>
    <add key="DB9_USER" value="ghapp"/>
    <add key="DB9_PASS" value="PasswordSQL"/>

    <add key="ARC_Stage" value="10"/>
    <add key="DB10_ID" value="ARC_Stage"/>
    <add key="DB10_LAN" value="1.1.1.1"/>
    <add key="DB10_WAN" value="1.1.1.1"/>
    <add key="DB10_NAME" value="arcweb_stage"/>
    <add key="DB10_USER" value="ghapp"/>
    <add key="DB10_PASS" value="PasswordSQL"/>

    <add key="DE_Production" value="3"/>
    <add key="DB3_ID" value="DE_Production"/>
    <add key="DB3_LAN" value="1.1.1.1"/>
    <add key="DB3_WAN" value="1.1.1.1"/>
    <add key="DB3_NAME" value="dataexchange_interactions"/>
    <add key="DB3_USER" value="ghapp"/>
    <add key="DB3_PASS" value="PasswordSQL"/>

    <add key="DE_Stage" value="4"/>
    <add key="DB4_ID" value="DE_Stage"/>
    <add key="DB4_LAN" value="1.1.1.1"/>
    <add key="DB4_WAN" value="1.1.1.1"/>
    <add key="DB4_NAME" value="dataexchange_interactions_stage"/>
    <add key="DB4_USER" value="ghapp"/>
    <add key="DB4_PASS" value="PasswordSQL"/>


    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <!-- Chilkat Config -->
    <add key="chlk_unlock" value="SGREENWOODMAILQ_FuY9K2d92R8F"/>

    <add key="chlk_mailman_smtphost" value="smtp.office365.com"/>
    <add key="chlk_mailman_smtpport" value="587"/>
    <add key="chlk_mailman_smtpusername" value="do.not.reply@email.com"/>
    <add key="chlk_mailman_smtppassword" value="PasswordE"/>
    <add key="chlk_mailman_starttls" value="True"/>
  </appSettings>

  <DistributionList name="Default">
    <!--
      Name must be Unique or service will break
      <add address="pciambotti@email.com" name="Pehuen Ciambotti 1" type="CC" />
      <add address="pciambotti@email.com" name="Pehuen Ciambotti 2" type="BCc" />
      EmailGroup1 == Notifications
      EmailGroup2 == Counts
      Type: To, CC, BCc
    -->
    <EmailGroup1>
      <add key="01" address="pciambotti@email.com" name="Pehuen Ciambotti G1" type="To"/>
    </EmailGroup1>
    <EmailGroup2>
      <add key="00" address="pciambotti@email.com" name="Pehuen Ciambotti" type="To"/>
      <add key="01" address="randome@email.com" name="Carrie Stevenson" type="To"/>
    </EmailGroup2>
    <EmailGroup3>
      <add key="00" address="pciambotti@email.com" name="Pehuen Ciambotti" type="To"/>
      <add key="01" address="randome@email.com" name="Carrie Stevenson" type="To"/>
    </EmailGroup3>
  </DistributionList>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
